# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Backup-Files
*~
*.bak

# VisualStudio dead weight
*.ncb
*.sdf
*.ipch

# OSX-specific stuff
.DS_STORE

#Videos
*.mov
*.wmv

#EPocHandler files
src/EpocHandler/EpocHandler.v11.suo
src/EpocHandler/EpocHandler.sdf
src/EpocHandler/EpocHandler.sln
src/EpocHandler/Epochandler.opensdf
src/EpocHandler/ipch/*
src/EpocHandler/Debug/*
